body {
	background-color:Gray;
	margin-top:0;
	margin-left:0;
}
* {
	margin:0;
	padding:0;
}
#main
{
	width:998px;
	background-color:#FFFFFF;
    margin-left:auto; margin-right:auto;
     
    margin-bottom:20;
    text-align:center;
}
/*************** Header CSS Start ********************/
.header {
	background-color:#2E3640;
	background-position: bottom;
	height:100;
}
.toplink {
	color:#F88017;
	font-weight:normal;
	text-decoration:none;
	padding-right:10px;
	font-size: 8pt;
	font-family: Arial, Helvetica, sans-serif;
}
.toplink a {
	color:#ffffff;
	text-decoration:none;
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
}
.toplink a:hover {
	color:#F88017;
	text-decoration:underline;
	font-size: 10pt;
	font-family: Arial, Helvetica, sans-serif;
}
/************** Header CSS End ********************/

/*************** HomePage CSS Start ********************/
.homelinks {
	font-family: Verdana, Helvetica, sans-serif;
	font-size: 10pt;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
	background-image: url(link-home-bg.jpg);
	height:64px;
	text-align:center;
	line-height: 20px;
}
.dotline {
	background-image: url(dotbg.gif);
	height:1px;
	text-align:center;
	background-repeat:repeat-x;	
}
.dot-y {
	background-image:url(dotbg.gif);
	background-repeat:repeat-y;
	width:1px;
	height:370px;
}
.dot-y-div {
	background-image:url(dotbg.gif);
	background-repeat:repeat-y;
	width:1px;
	height:470px;
}
.normaltext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: normal;
	color: #4A4A4A;
	text-decoration: none;
	padding-top: 3px;
	padding-bottom: 10px;
	line-height: 20px;
}
.headingtext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	font-weight: bold;
	color: #F88017;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 3px;
}
.readmore {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #4A4A4A;
	text-decoration: none;
}
.readmore:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	font-weight: normal;
	color: #F88017;
	text-decoration: underline;
}
.infolinks {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	color: #4A4A4A;
	text-decoration: none;
	text-wrap: inherits;
	vertical-align:top;
	height:25px;
	padding-top:15px;
	padding-left:5px;
}
.infolinks a {
	color:#4A4A4A;
	text-decoration:none;
	font-size: 0.9em;
	font-family: Arial, Helvetica, sans-serif;
}
.infolinks img {
	padding-top:5px;
}
.infolinks a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	font-weight: normal;
	color: #F88017;
	text-decoration: underline;
}
.infolinks span {
	color:#4A4A4A;
	text-decoration:none;
	font-size: 0.9em;
	font-family: Arial, Helvetica, sans-serif;
}
/*************** HomePage CSS End ********************/

/*************** Inner CSS Start ********************/

.sidelinks {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #4A4A4A;
	text-decoration: none;
	text-wrap: inherits;
	vertical-align:top;
	height:25px;
	padding-top:15px;

}
.sidelinks a {
	color:#4A4A4A;
	text-decoration:none;
	font-size: 0.9em;
	font-family: Arial, Helvetica, sans-serif;
}
.sidelinks a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	font-weight: normal;
	color: #F88017;
	text-decoration: underline;
}
.sidelinks img {
	padding-top:5px;
}

.sidelinkscurrent {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	color: #4A4A4A;
	text-decoration: none;
	text-wrap: inherits;
	vertical-align:top;
	height:25px;
	padding-top:15px;
}
.sidelinkscurrent a {
	color:#F88017;
	text-decoration:none;
	font-size: 0.9em;
	font-family: Arial, Helvetica, sans-serif;
}
.sidelinkscurrent a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	font-weight: normal;
	color: #F88017;
	text-decoration: underline;
}
.sidelinkscurrent img {
	padding-top:5px;
}
.innertext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: normal;
	color: #4A4A4A;
	text-decoration: none;
	padding-top: 3px;
	padding-bottom: 10px;
	line-height: 20px;
}
.textboxtext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: normal;
	color: #4A4A4A;
	text-decoration: none;
	line-height: 20px;
}
.innerheading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	font-weight: bold;
	color: #F88017;
	text-decoration: none;
	padding-top: 10px;
	padding-bottom: 3px;
}
.imagediv {

	background-repeat:repeat-x;
	background-image: url(link-inner-bg.jpg);
	font-family: Ariel, Helvetica, sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: #ffffff;
	text-decoration: none;
	text-align:center;
	padding-left:20px;
	padding-right:20px;
	line-height: 20px;
}
.imagedivtext {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	padding-bottom:2px;
}
#content p{
	padding-top:10px;
}
#content span {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.9em;
	font-weight: bold;
	color: #F88017;
	text-decoration: none;
}
.contactheading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.8em;
	font-weight: bold;
	color: #F88017;
	text-decoration: none;
}
/*************** Inner CSS End ********************/
/*************** Footer CSS Start ********************/
.footerlink 
{
    background-color:#2E3640;
	color:#F88017;
	font-weight:normal;
	text-decoration:none;
	padding-right:10px;
	font-size: 8pt;
	height:90;
	font-family: Arial, Helvetica, sans-serif;
}
.footerlink a {
	color:#ffffff;
	text-decoration:none;
	font-size: 8pt;
	font-family: Arial, Helvetica, sans-serif;
}
.footerlink a:hover {
	color:#F88017;
	text-decoration:underline;
	font-size: 8pt;
	font-family: Arial, Helvetica, sans-serif;
}
.footerlink span {
	color:#ffffff;
	font-size: 8pt;
	font-family: Arial, Helvetica, sans-serif;
}
.footerheading {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 0.7em;
	font-weight: bold;
	color: #F88017;
	text-decoration: none;
	padding-bottom: 3px;
}
.bottombar {
	background-image: url(dotbg.gif);
}
.dot-y-footer {
	background-image:url(dotbg.gif);
	background-repeat:repeat-y;
	width:1px;
	height:70px;
}
/*************** Footer CSS End ********************/